
{% block in %}
    {% include "wrapper/main/components/cmmx/in.html" %}
{% endblock in %}
    
<div class="cmmx-intro">
  <img
    class="cmmx-intro-bg"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/intro-bg-main.svg?id=f408d24abfa5d1d3c0a90e8a372da483"
    alt=""
  />
  <img
    class="cmmx-intro-x"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/intro-x-main.svg?id=8eeeece88a09dc6ef9b4279c38683889"
    alt=""
  />
</div>
<picture class="x-optimized-image x-optimized-image--absolute cmmx-footer-bg">
  <img
    src="https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360"
    alt=""
    srcset="
      https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;dpr=1&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360 1x,
      https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;dpr=2&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360 2x,
      https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;dpr=3&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360 3x,
      https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;dpr=4&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360 4x,
      https://cdn3-imgix.macpaw.com/images/products/cleanmymac-x/city.jpg?auto=format&amp;dpr=5&amp;fm=png&amp;ixlib=php-3.3.1&amp;q=60&amp;w=1360 5x
    "
    width="1360"
  />
</picture>
<div class="cmmx-wave">
  <img
    class="cmmx-dots"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/dots.svg?id=dd197c21bf103696b5bf6c8fde738dbd"
    alt=""
  />
  <img
    class="cmmx-wave-1"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/bg_aura_1.svg?id=5729d0188f46a6a2e6b301a7095974f9"
    alt=""
  />
  <img
    class="cmmx-wave-2"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/bg_aura_2.svg?id=49985beaffdf0d7c8ca12159bb772ca3"
    alt=""
  />
  <img
    class="cmmx-wave-3"
    src="https://cdn3.macpaw.com/images/products/cleanmymac-x/bg_aura_3.svg?id=ea25a82a31ea1cdc15af1f28d93e3cbb"
    alt=""
  />
</div>

