<div class="container">
    <div class="service">
      <div class="info-wrap">
        <div class="row">
          <div class="col-3 col-s-6 col-xs-12 info-item">
            <div class="info-icon">
              <svg class="icon">
                <use xlink:href="/images/sprite.svg#system"></use>
              </svg>
            </div>
            <div class="info-title">Requisitos do Sistema:</div>
            <div class="info-content">
              <p>macOS 10.13 e superior, 210 MB</p>
            </div>
          </div>
          <div class="col-3 col-s-6 col-xs-12 info-item">
            <div class="info-icon">
              <svg class="icon">
                <use xlink:href="/images/sprite.svg#rating"></use>
              </svg>
            </div>
            <div class="info-title">Avaliação:</div>
            <div class="info-content">
              <div class="rating">
                <div class="rating-wrap">
                  <div class="rating-bg">
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star_empty"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star_empty"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star_empty"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star_empty"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star_empty"></use>
                    </svg>
                  </div>
                  <div class="rating-status" style="width: 98%">
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                    <svg class="icon">
                      <use xlink:href="/images/sprite.svg#star"></use>
                    </svg>
                  </div>
                </div>
                <div class="rating-value">4.9*</div>
              </div>
            </div>
          </div>
          <div class="col-3 col-s-6 col-xs-12 info-item">
            <div class="info-icon">
              <svg class="icon">
                <use xlink:href="/images/sprite.svg#label"></use>
              </svg>
            </div>
            <div class="info-title">Preço:</div>
            <div class="info-content">
              <p>a partir de $34.95</p>
            </div>
          </div>
          <div class="col-3 col-s-6 col-xs-12 info-item">
            <div class="info-icon">
              <svg class="icon">
                <use xlink:href="/images/sprite.svg#info"></use>
              </svg>
            </div>
            <div class="info-title">Versão Mais Recente:</div>
            <div class="info-content">
              <p>4.15.6, 7 agosto 2024</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hint">
        *4.9 - avaliação de todas as versões, baseada em 539 avaliações de
        usuários.
      </div>
    </div>
  </div>
  