<div class="subscribe">
  <div class="subscribe-form" data-subscribe-form="">
    <p class="h3">Assine para ficar por dentro</p>
    <div class="text mb">
      Nosso pombo‑correio levará até você as melhores ofertas e notícias dos
      apps da MacPaw.
    </div>
    <div class="form mb-24">
      <form
        data-form="subscribe"
        action="https://macpaw.com/api/subscribe"
        novalidate=""
        data-event-category="CleanMyMac X"
        data-event-action="On-Page Subscribe Form"
      >
        <div class="form-row">
          <label class="form-field mb-24" data-form-field="">
            <input
              class="input"
              name="mailEvent"
              type="hidden"
              value="cleanmymac-x_product_page_subscribe"
            />
          </label>
        </div>
        <div class="form-row subscribe-row">
          <label class="form-field subscribe-field mb-24" data-form-field="">
            <input
              class="input -large"
              type="email"
              name="email"
              placeholder="Digite o seu e-mail…"
              aria-label="email input"
              required=""
            />
            <span
              class="field-message"
              data-field-message="Tem certeza de que este endereço de e‑mail é válido?"
            ></span>
          </label>
          <div class="form-field subscribe-submit">
            <button
              class="btn -large"
              data-qa="subscribeBtn"
              data-form-submit=""
            >
              Assinar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="subscribe-success" data-subscribe-form-success="">
    <p class="h3">Obrigado por assinar!</p>
    <p>Quase lá. Verifique o seu e‑mail.</p>
    <div class="subscribe-ok">
      <svg class="icon">
        <use xlink:href="/images/sprite.svg#ok"></use>
      </svg>
    </div>
  </div>
</div>
