<div class="container">
  <div class="row download-in -vcenter">
    <div class="col-5 col-s-12">
      <div class="download-image">
        <picture>
          <source
            srcset="
              https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x4x.webp 1x,
              https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x8x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x4x.png 1x,
              https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x8x.png 2x
            "
            type="image/png"
          />
          <img
            src="https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x4x.png"
            srcset="
              https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x8x.png 2x
            "
            alt="CleanMyMac X"
          />
        </picture>
      </div>
    </div>
    <div class="col-7 col-s-12">
      <div class="download-box">
        <div class="download-info">
          <p class="h3 mb-32">CleanMyMac X</p>
          <h4 class="h4 -normal">Deixe o seu Mac como novo</h4>
          <p>
            Obtenha o CleanMyMac X para ajudar você no Mac. Ele lida com
            problemas de armazenamento, velocidade e malware. E transforma lixo
            em espaço livre. Use-o uma vez para se apaixonar.
          </p>
        </div>
        <div class="cta-btns" data-fixed-nav-trigger="hide">
          <a
            href="https://my.macpaw.com/trial/cleanmymac?offerings=first&amp;testId=TBT-83AB&amp;svn=685397284.1725132023"
            class="btn btn--first -large -success"
            data-qa="FreeDownloadBtn"
            onclick="dataLayer.push({
                                event: 'macpaw',
                                eventCategory: 'CleanMyMac X',
                                eventAction: 'Click Download',
                                eventLabel: 'Closer',
                                eventNonInteraction: false,
                                click_text: 'Obter Avaliação'
                            });"
          >
            Obter Avaliação
          </a>

          <a
            class="btn btn--second -large -outline-dark"
            href="https://macpaw.com/pt/store/cleanmymac"
            data-qa="BuyNowBtn"
            onclick="dataLayer.push({
                               event: 'macpaw',
                               eventCategory: 'CleanMyMac X',
                               eventAction: 'Click Buy Now',
                               eventLabel: 'Closer',
                               eventNonInteraction: false
                               });"
            >Comprar Agora</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
