.info {
    margin-bottom: 96px;
    /* border: 1px solid black; */
    
}

.info .info-wrap {
    border: 2px solid rgba(0, 0, 0, .04);
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 48px 0;
}

.info .info-item {
    padding: 0 24px;
    position: relative;

}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info .info-icon {
    color: rgba(0, 0, 0, .32);
    font-size: 20px;
    margin-bottom: 8px;
}


.info .info-title {
    color: #999;
    font-size: 12px;
}
.info .info-content {
    font-size: 14px;
}

.info .info-item:not(:first-child):before {
    background: hsla(0, 0%, 59%, .16);
    content: "";
    height: 48px;
    left: 0;
    margin-top: -24px;
    position: absolute;
    top: 50%;
    width: 2px;
}

.rating .rating-value, .rating .rating-wrap {
    display: inline-block;
    position: relative;
}

.rating .rating-bg, .rating .rating-status {
    color: #ffa91e;
    white-space: nowrap;
}
.rating .rating-status {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.hint {
    color: #999;
    font-size: 12px;
    text-align: center;
}

.divider {
    background: rgba(51, 51, 51, .04);
    height: 2px;
    margin-bottom: 96px;
}