.nav.-open .nav-dropdown,
.nav.-open .nav-menu,
.nav.-open .nav-products {
    opacity: 1;
    transform: translateY(0);

}

@media only screen and (max-width: 767px) {
    .nav.-open .nav-in {
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .nav .nav-dropdown {
        bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    .nav.-open .nav-menu {
        transition-delay: 0ms;
    }
}

.nav.-open .nav-dropdown {
    pointer-events: all;
}

.nav .nav-dropdown {
    background: #000;
    left: 0;
    opacity: 0;
    padding-top: 72px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, transform .3s ease;
    z-index: 2;
    height: fit-content;
}

.nav.-open .nav-menu,
.nav .nav-products {
    transition: opacity .3s ease .1s, transform .3s ease .1s;
    transition: opacity .3s ease .1s, transform .3s ease .1s;
    transition: opacity .3s ease .1s, transform .3s ease .1s, transform .3s ease .1s;

}

.nav .nav-menu {
    background: #323232;
}

.menu {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.menu li {
    margin: 0 8px;
}

.menu li a {
    color: #fff;
    display: flex;
    font-weight: 600;
    padding: 16px;
    transition: background .2s ease-out;
}

.menu li a .icon {
    font-size: 24px;
    margin-right: .5rem;
    position: relative;
    top: -.5rem;
    vertical-align: middle;
}




@media only screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        padding: 8px 0;
    }
}

@media only screen and (max-width: 767px) {
    .menu li {
        margin: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .menu li {
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .menu li a {
        color: #fff;
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {

    .menu li a,
    .menu li.-account a {
        padding: 8px 8px 8px 0;
    }
}

@media only screen and (max-width: 1023px) {
    .menu li a {
        font-size: 14px;
        padding: 16px 12px;
    }
}

@media only screen and (max-width: 767px) {
    .menu li a .icon {
        margin-right: 14px;
    }
}

/* ======================================================================= */
/* dropdown_products */

.nav .nav-products {
    height: 12.7rem;
    overflow: hidden;
    padding: 0 2.5rem 1.5rem;
}

.nav .nav-products .container {
    position: relative;
}

.products-list {
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 2.25rem 0 3.125rem;
    white-space: nowrap;
}

.products-list li {
    min-width: 6.625rem;
    text-align: center;
    width: 6.625rem;
}


.products-list .products-link {
    border-radius: .4rem;
    color: hsla(0, 0%, 100%, .8);
    display: block;
    font-size: 12px;
    font-weight: 600;
    height: 8rem;
    width: auto;
    padding: 12px 0;
    position: relative;
    transition: background .3s;
}
.products-list .products-link:hover{
    background:  #696969;
} 

.products-list .products-link span {
    display: block;
    line-height: 1.2rem;
    white-space: normal;
}
.products-list .products-link .products-link-inner {
    align-items: center;
    display: flex;
    height: 4.25rem;
    justify-content: center;
}

.products-list .products-link .products-link-title {
    align-items: center;
    display: flex;
    height: 4.25rem;
    justify-content: center;
    padding: 10px 2px 0;
}

.nav.-open .products-new{
    opacity: 1;
    transform: translate(-50%);
}

.products-list .products-new {
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    height: 18px;
    left: 50%;
    line-height: 18px;
    opacity: 0;
    padding: 0 13px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -18px;

    transform: translate(-50%, -30px);
    transition: opacity .3s ease .2s, -webkit-transform .3s ease .2s;
    transition: transform .3s ease .2s, opacity .3s ease .2s;
    transition: transform .3s ease .2s, opacity .3s ease .2s, -webkit-transform .3s ease .2s;
}