<section class="topper">
  {% block topper %} {% include "/wrapper/main/components/main_topper.html" %}
  {% endblock %}
</section>
<div class="cmmx">
    {% block cmmx %} {% include "/wrapper/main/components/main_cmmx.html" %}
    {% endblock %}

</div>
<div class="cmmx-shadow"></div>
<section class="languages">
  <div class="container">
    <h4 class="h3">O CleanMyMac X fala:</h4>
          <ul class="languages-list">
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/en.svg?id=2382ea7ec7cc55bfe1cc7a3ea8326989" width="74" alt="en"></div>
          <p>English</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/de.svg?id=903d6a160f661be0793082b09b8d0d61" width="74" alt="de"></div>
          <p>Deutsch</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/es.svg?id=1f30a66667824e01d76f175c96c33d77" width="74" alt="es"></div>
          <p>Español</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/fr.svg?id=24841de9d5ad4cebb1be5c4dc19fc89f" width="74" alt="fr"></div>
          <p>Français</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/uk.svg?id=4e719c215ae45338c846332198047dca" width="74" alt="uk"></div>
          <p>Українська</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/it.svg?id=5cd4a688a021986c5a2881708dc15954" width="74" alt="it"></div>
          <p>Italiano</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/pl.svg?id=548bc4bde6c4feccaa7d09b1c110c842" width="74" alt="pl"></div>
          <p>Polski</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/pt.svg?id=c5de35a7c1e88d34a20b1d289474176b" width="74" alt="pt"></div>
          <p>Português do Brasil</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/nl.svg?id=628def6205b8d25d5f77c0476fd40ac6" width="74" alt="nl"></div>
          <p>Nederlands</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/zh.svg?id=11b6f147a647cc4cd29d1d93a0852b7c" width="74" alt="zh"></div>
          <p>简体中文</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/ja.svg?id=8e4b7965cc1e496dc9b9714cc946de3c" width="74" alt="ja"></div>
          <p>日本語</p>
        </li>
                <li class="languages-item">
          <div><img src="https://cdn3.macpaw.com/images/lang/ko.svg?id=cc2a1ddadf8bdfb0e002fa471f56079f" width="74" alt="ko"></div>
          <p>한국어</p>
        </li>
            </ul>
  </div>
</section>
<section class="business_education_links">
    {% block business_container %}
        {% include "/wrapper/main/components/business_links/business_container.html" %}
    {% endblock  %}
</section>
<section class="reviews">
  {% block reviews %} 
      {% include "/wrapper/main/components/main_reviews.html" %}
  {% endblock %}
</section>
<section class="download -cleanmymac-x">
  {% block download %} 
      {% include "/wrapper/main/components/main_download.html" %}
  {% endblock %}
</section>
<div class="info">
  {% block indo %} 
  {% include "/wrapper/main/components/main_indo.html" %}
{% endblock %}
</div>
<div class="divider"></div>
<div class="container">
  {% block subscribe %} 
  {% include "/wrapper/main/components/main_subscribe.html" %}
{% endblock %}
</div>

  <div class="fixed-nav" data-fixed-nav="">


    <div class="container">
        <div class="fixed-nav-in">
            <div class="fixed-nav-left">
                                    <img src="https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x025x.png" srcset="https://cdn3.macpaw.com/images/product-icons/cleanmymac-x/cleanmymac-x05x.png 2x" width="32" alt="CleanMyMac X">
                    <span>CleanMyMac X</span>
                            </div>
            <div class="fixed-nav-right">
                                    <div class="cta-btns  ">
                                                                                                                                        <a href="https://my.macpaw.com/trial/cleanmymac?offerings=first&amp;testId=TBT-83AB&amp;svn=685397284.1725132023" class="btn btn--first -small -success" data-qa="FreeDownloadBtn" onclick="dataLayer.push({
                                    event: 'macpaw',
                                    eventCategory: 'CleanMyMac X',
                                    eventAction: 'Click Download',
                                    eventLabel: 'Floating Bar',
                                    eventNonInteraction: false,
                                    click_text: 'Obter Avaliação'
                                });">
                                Obter Avaliação
                            </a>
                                                                                                                                                                                
                            <a class="btn btn--second -small -outline-dark" href="https://macpaw.com/pt/store/cleanmymac" data-qa="BuyNowBtn" onclick="dataLayer.push({
                                   event: 'macpaw',
                                   eventCategory: 'CleanMyMac X',
                                   eventAction: 'Click Buy Now',
                                   eventLabel: 'Floating Bar',
                                   eventNonInteraction: false
                                   });">Comprar Agora</a>
                                                                                    </div>
                            </div>
        </div>
    </div>


