<div class="topper-reviews">
  <a
    class="topper-reviews-item -animated"
    href="https://macpaw.com/cleanmymac/review#Forbes"
    target="_self"
    data-animation=""
    data-animation-delay="100"
    style=""
  >
    <img
      src="https://cdn3.macpaw.com/images/reviews/en/forbes-black.svg?id=48f7e78b6ec2f2b8a52804145ddf5dba"
      alt=""
    />
  </a>
  <a
    class="topper-reviews-item -animated"
    href="https://macpaw.com/cleanmymac/review#MacStories"
    target="_self"
    data-animation=""
    data-animation-delay="200"
    style=""
  >
    <img
      src="https://cdn3.macpaw.com/images/reviews/en/macstories-black.svg?id=076595afcbe3e459fb1d508ca95eac4c"
      alt=""
    />
  </a>
  <a
    class="topper-reviews-item -animated"
    href="https://macpaw.com/cleanmymac/review#CultofMac"
    target="_self"
    data-animation=""
    data-animation-delay="300"
    style=""
  >
    <img
      src="https://cdn3.macpaw.com/images/reviews/en/cultofmac-black.svg?id=d9fc98f9ad609f61b2126daeecf7e99b"
      alt=""
    />
  </a>
  <a
    class="topper-reviews-item -animated"
    href="https://macpaw.com/cleanmymac/review#TechCrunch"
    target="_self"
    data-animation=""
    data-animation-delay="400"
    style=""
  >
    <img
      src="https://cdn3.macpaw.com/images/reviews/en/techcrunch.svg?id=348d8e02ce3f15de4ac82f9813949466"
      alt=""
    />
  </a>
  <a
    class="topper-reviews-item -animated"
    href="https://macpaw.com/cleanmymac/review#iDownloadBlog"
    target="_self"
    data-animation=""
    data-animation-delay="500"
    style=""
  >
    <img
      src="https://cdn3.macpaw.com/images/reviews/en/idownloadblog-black.svg?id=6c83479971bf9d42f3a99ea0b4613a58"
      alt=""
    />
  </a>
</div>
