<!DOCTYPE html>
<html lang="pt" data-qa-version="new">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="O CleanMyMac é um app que cuida da limpeza, manutenção e otimização do Mac. Libere espaço no MacBook, iMac e até em HDs externos. Baixe o app de graça!"
    />
    <meta name="keywords" content="CleanMyMac, limpar Mac, manutenção" />
    <meta name="theme-color" content="#333333" />
    <meta property="og:site_name" content="MacPaw" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="CleanMyMac X: o melhor para limpar o Mac em tempo recorde."
    />
    <title>
      {% block title %}CleanMyMac X: o melhor para limpar o Mac em tempo
      recorde.{% endblock %}
    </title>

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn3.macpaw.com/images/favicons/favicon-32x32.png?id=3caf44bf1108509bb983800af1bf784f"
    />

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/element_add.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/display.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/modal_sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cky_switch.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/footer_wrapper.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/wrapper.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/nav_dropdown.css') }}"
  />
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/main.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/cmmx.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/languages.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/business_links.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/reviews.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/download.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/indo.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/subscribe.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/fixed_nav.css') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/footer.css') }}"
/>
  </head>
  <body data-plataform="Windows">
    {% block content %} {% block revisit_btn %}{% endblock %} {% block
    modal_siderbar %}{% endblock %} {% endblock %}
  </body>
</html>
