<div class="cky-modal cky-sidebar-left" tabindex="0">
    <div class="cky-preference-center" data-cky-tag="detail ">
        {% block header %}
                {% include "modal_preference/preference_header.html" %}
        {% endblock  %}
        {% block body_wrapper %}
            {% include "modal_preference/preference_body_wrapper.html" %}
        {% endblock  %}
        {% block footer_wrapper %} {% include "modal_preference/preference_footer.html" %} {% endblock  %}
        
      <div class="cky-footer-wrapper"></div>
    </div>
  </div>
